.contacts {
  padding: 50px 0 0 0;

  &__wrapper {
    padding-bottom: 60px;

    @extend %container;
  }

  &__img-wrapper {
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
  }

  &__triangle {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__title {
    color: #283645;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    flex-wrap: wrap;
    align-content: space-between;

    @media ($tablet) {
      display: flex;
    }

    @media ($desktop) {
      flex-wrap: nowrap;
    }
  }

  &__list-item {
    text-align: center;
    flex-grow: 1;
    margin: 0 50px;

    @media ($mobile) {
      flex-basis: 33.333%;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    @media ($tablet) {
      &:last-child {
        margin-top: 40px;
      }
    }

    @media ($desktop) {
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
        margin-top: 0;
      }
    }
  }

  &__contact-name {
    color: #283645;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  &__contact {
    color: #d22856;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
  }
}
