.header {
  position: absolute;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #283645;
  box-shadow: 0 1px 0 #000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @extend %container;
  }

  &__toggle-button {
    width: 50px;
    height: 25px;
    opacity: 1;
    background: url('images/menu-cross.svg') no-repeat center / 50px 25px;
  }

  &__nav {
    position: absolute;
    top: 70px;
    z-index: 999;
    right: 0;
    left: 0;
  }

  &--close {
    background-color: rgba(15, 15, 15, 0.3);
    box-shadow: none;

    .header__nav {
      display: none;
    }
  }

  &__toggle-button--close {
    background-image: url('images/menu-burger.svg');
  }

  &__logo {
    flex-shrink: 0;
    opacity: 1;

    &:hover {
      fill: $hover-color;
    }
  }

  &__list-item {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    height: 70px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    background-color: #283645;
    box-shadow: 0 1px 0 #000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }

  @media ($desktop) {
    &--close &__nav,
    &__nav {
      position: static;
      display: block;
    }

    &__list {
      display: flex;
    }

    &__list-item {
      font-size: 18px;
      font-weight: 100;
      line-height: 18px;
      flex-basis: 0;
      height: auto;
      padding: 0 3%;
      color: #fff;
      background-color: transparent;
      box-shadow: none;

      &:hover {
        color: $hover-color;
      }

      &:active {
        color: $active-color;
      }
    }

    &__toggle-button {
      display: none;
    }
  }
}
