%container {
  padding: 0 6.25%;
  max-width: 2000px;
  margin: 0 auto;

  @media ($tablet) {
    padding: 0 3%;
  }

  @media ($desktop) {
    padding: 0 10.5%;
  }
}

%link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin triangle() {
  position: relative;

  &::before {
    width: 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    z-index: 2;
    top: -30px;
    border-color: transparent;
    position: absolute;
    border-right: 50vw solid #f2f2f2;
    border-left: 50vw solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #f2f2f2;

    @media ($tablet) {
      border-bottom-width: 25px;
      border-top-width: 25px;
      top: -50px;
    }

    @media ($desktop) {
      border-bottom-width: 45px;
      border-top-width: 45px;
      border-left-width: 49.57031vw;
      border-right-width: 49.57031vw;
      top: -90px;
    }
  }
}

/*@mixin triangle2() {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    border-style: solid;
    border-color: transparent;
    border-right-width: 25vw;
    border-left-width: 25vw;
    border-top-width: 15px;
    border-bottom-width: 15px;

    @media ($tablet) {
      bottom: -60px;
      border-top-width: 30px;
      border-bottom-width: 30px;
    }

    @media ($desktop) {
      bottom: -100px;
      border-top-width: 50px;
      border-bottom-width: 50px;
    }
  }

  &::after {
    left: 0;
    border-top-color: #fff;
    border-right-color: #fff;
  }

  &::before {
    right: 0;
    border-top-color: #fff;
    border-left-color: #fff;
  }
}*/

@mixin angel-message($message, $color: #d22856) {
  position: relative;
  overflow: hidden;

  &::after {
    content: $message;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    left: -30px;
    text-transform: uppercase;
    top: 5px;
    line-height: 40px;
    width: 120px;
    height: 40px;
    background-color: $color;
  }
}
